<!DOCTYPE html>
<html>
<head>
  <title>My Bucket List</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Lobster" rel="stylesheet">

  <link rel="icon" href="" />

  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
<main class="">
  <div class="header">
    <div class ="header-left">
      <div class ="logo">
        <p><a href="/">My Bucket List</a></p>
      </div >
    </div>
    <div class ="header-right">
      <nav>
        <ul>
          <li>
            <a href="/sights">Sights</a>
          </li>
          <li>
            <a href="/cities">Cities</a>
          </li>
          <li>
            <a href="/countries">Countries</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <section id="content">
  <%= yield %>
  </section>


  <div class="push"></div>
  </main>
  <footer class="footer"></footer

</body>
</html>
