
<% for city in @cities %>
<% @url += city.name + "%2C" + city.country.name + "|circle-white||"%>

<% end %>
<% @url.gsub!(' ','%2B') %>

<div class = "main_map">
  <img src ="<%= @map_url %><%= @url %>">
</div>

<h1> All the cities</h1>

<% for city in @cities %>
<p><a href="/cities/<%=city.id%>"><%= city.name %></a></p>

<% end %>
