<% for sight in @city.sights %>
<% @url += sight.name + "%2C" + sight.city.name + "%2C" + sight.city.country.name + "|circle-start-V||"%>
<% @url.gsub!(' ','%20') %>
<% end %>

<div class = "main_map">
  <img src ="<%= @map_url %><%= @url %>">
</div>


<p>
    <form action="/cities/<%= @city.id %>/delete" method="POST">
      <input class="btn btn--danger" type="submit" value="delete" />
    </form>
</p>
