<% for country in @countries %>
<% @url += country.name + "%2C" + country.name + "|circle-white||"%>

<% end %>
<% @url.gsub!(' ','%20') %>

<div class = "main_map">
  <img src ="<%= @map_url %><%= @url %>">
</div>

<h1> All the Countries</h1>

<% for country in @countries%>
<p><a href="/countries/<%=country.id%>"><%= country.name %></a></p>

<% end %>
