.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: white;
  cursor:pointer;
  font-family: 'Open Sans', sans-serif;
}

.btn--danger {
  background-color: darkred;
}

.btn--danger:hover {
  background-color: #730000;
}

.btn--action:hover {
  background-color: #495C27;
}

.btn--action {
  background-color: #2f5a6b;
}

.btn--wrapper {
  margin: 0px 0px 30px 0px;
}
