html, body {
  height: 100%;
  margin: 0;
}

body {
  background: #BDD5EA url('');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #222222;
  font-family: 'Open Sans', san-serif;
  padding: 0px;
  margin: auto 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
  font-weight:200;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 2em;
  color: darkred;
  margin-bottom: 20px;
}

a, a:link, a:visited {
  color: darkred;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #495C27;
}

.header-left{
  float:left;
}

.header-right{
  float:right;
  padding-top: 30px;
}

.left-panel{
  float:left;
  padding-left: 30px;
}

.right-panel{
  float:right;
}

p {
  padding:0;
  margin:5px 10px;
}

.logo a{
  font-size:48px;
  font-family: 'Lobster', cursive;
  font-weight:200;
  color: darkred !important;
}

.logo a:hover {
  font-size:48px;
  font-family: 'Lobster', cursive;
  font-weight:200;
  color: darkred !important;
}

.logo a:visited  {
  font-size:48px;
  font-family: 'Lobster', cursive;
  font-weight:200;
  color: darkred !important;
}


nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}

nav ul li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0 10px;
  text-transform: uppercase;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 0px 20px 10px 20px;
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}


.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

#content {
  padding-left: 0px;
}

.main_map {
  position: relative;
  padding-bottom: 33%; /* ratio of image height to width */
  height: 0;
  z-index: -999;

}

.main-map img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.warning {
  display:inline;
  color:darkred;
  font-style: italic;
}

.delete_section{
  margin-top:30px;
}


footer {
  color:white;
  background-color: #2f5a6b;
  height:30px;
}
